.col-md-2 {
  border: 5px solid gray;
  padding: 12px;
  background-color: lightgray;
  height: 160px;
  text-align: center;
  font-size: 12pt;
  font-weight: 300;
  font-family: sans-serif;
  /*margin-bottom: : 4px;*/
}

.gridbox {}

.panel-body {
background-color: gray;
}

.jumbotron {
background-color: purple;
font-family: cursive;
width: 100%;
color: violet;
border: 17px solid #F49BE9;
}

.container {
width: 100%;
}

body {
  background-color: #D2E0F6;
}

.titleformat {
  color: purple;
  font-family: cursive;
}

.panel-title {
font-size: 20pt;
color: purple;
font-family: serif;
height: 60px;
/*text-align: center;*/
}

.radio {}

#output {
font-size: 20pt;
}

.btn-success{
height: 60px;
width: 60px;
margin: 5px;
}

.panel-title2 {
font-size: 20pt;
font-family: serif;
height: 60px;
/*text-align: center;*/
}

.character-list {
display: none;
}

#over18 {
  display: none;
}

#under18 {
  color: #663399;
  font-size: 40pt;
  display: none;
}

.corn {
color:red;
}
