.col-md-2 {

  border: 3px solid gold;
  padding: 12px;
  background-color: lightgray;
  height: 150px;
  text-align: center;
  font-size: 12pt;
  font-weight: 300;
  font-family: sans-serif;
  margin-bottom: : 4px;




}

body {

  background-color: #B1C5F4;
}
